@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}
button{
  cursor: pointer;
}
input, select{
  @apply border w-full  border-gray-300 rounded-md p-2
}
.heading{
  @apply text-2xl font-bold mb-6 text-white text-center
}